/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
